@font-face {
    font-family: 'Steps Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/steps.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Topaz';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/topaz.woff2) format('woff2');
  }