@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  background-color: black;
  margin: 0;
  font-family: 'Xanh Mono', monospace;
}

* {
  box-sizing: border-box;
}

footer {
  font-family: "FT88";
  letter-spacing: -0.2rem;
  text-rendering: optimizeSpeed;
}
code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#entry {
  transition: 1s all ease;
}

#checkerboard {
  background: repeating-conic-gradient(magenta 0% 25%, black 0% 50%) 50% / 50px 50px;
  background-repeat: repeat;
  animation: 20s slide infinite linear;
}

#entry:hover {
  transform: rotate(0deg) !important;
}

.spin:hover {
  animation: 0.5s spin ease-out;
  animation-fill-mode: forwards;
}

@keyframes spin {
  from {transform: rotate(0deg) scale(1);}
  87% {transform: rotate(360deg) scale(2);}
  100% {transform: rotate(360deg) scale(4);}
}

@keyframes slide {
  from {
    background-position: top right;
  }
  to {
    background-position: bottom left;
  }
}